body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

.hidden { display: none; }

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
}

.login-card {
    width: 300px;
}

select, input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

button {
    padding: 8px;
    width: 100%;
    cursor: pointer;
}

.password-wrapper {
    position: relative;
}

.eye {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.sidebar {
    width: 200px;
    height: 100vh;
    position: fixed;
    background: #1e293b;
    padding: 20px;
}

.sidebar button {
    margin: 10px 0;
}

.content {
    margin-left: 220px;
    padding: 20px;
}

@media(max-width:768px){
    .sidebar { display:none; }
    .content { margin-left:0; }
}
v
