body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    background: #1e293b;
    padding: 25px;
    border-radius: 10px;
    width: 320px;
}

label {
    font-size: 14px;
    margin-top: 10px;
    display: block;
}

select, input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}

button {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.password-wrapper {
    position: relative;
}

.eye-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 35px;
    height: 30px;
    background: transparent;
    border: none;
    color: black;
    cursor: pointer;
}
